.scoreboard {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  @include flexcenter;
  flex-wrap: wrap;
  @include mq(800px) {
    justify-content: space-between;
    max-width: 800px;
  }
  .scoreboard__section {
    width: calc(100% -5px);
    max-width: 500px;
    @include mq(800px) {
      max-width: 395px;
    }
    .scoreboard__header {
      width: 100%;
      background-color: $text-color;
      color: $bgcolor;
      display: flex;
    }
  }
}
