.rain {
  background-color: $background-color;
  background-image: url(../img/rain1.jpg);
}
.snow {
  background-color: $background-color;
  background-image: url(../img/snow1.jpg);
}
.night {
  background-color: $background-color;
  background-image: url(../img/night1.jpg);
}
.fog {
  background-color: $background-color;
  background-image: url(../img/fog1.jpg);
}
.cloud {
  background-color: $background-color;
  background-image: url(../img/clouds1.jpg);
}
