$font-color: #fff;
$fog-color: darkslategray;
$background-color: rgba(0, 0, 255, 0.5);
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$night-color: rgba(0, 0, 0, 0.1);
$fade-color: rgba(255, 255, 255, 0.6);
$border-color: lightgray;
$text-shadow-color: #000;
$container-bgcolor: #f2f2f2;
$shadowcolor: #fff;
$button-textcolor: #fff;
